<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jthrilly.networkcanvas" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Network Canvas</name>
    <description>
        A HTML5 and JavaScript based personal network capture tool.
    </description>
    <author email="joshmelville@gmail.com" href="http://github.com/jthrilly">
        Joshua Melville
    </author>
    <preference name="target-device" value="tablet" />
    <preference name="DisallowOverscroll" value="true" />
    <engine name="android" spec="^6.2.3" />
    <engine name="ios" spec="^4.4.0" />
</widget>
